<div>

    <div>
          <div class="form-group">
            <label for="weight">Weight:
              <input placeholder="weight" type="number" [(ngModel)]="formValue.weight" class="form-control" min="0" id="weight"
                     (change)="validateWeight()"
                     required/>
                <div *ngIf="formErrors.weight"
                 class="alert alert-danger">
                  weight is invalid
                </div>
            </label>
          </div>
          <div class="form-group">
            <label for="carer">Carer:
              <select placeholder="caretaker" class="form-control" id="carer">
                <option *ngFor="let carers of carer" [value]="carers">{{carers}}</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <label for="email">Email:
              <input [(ngModel)]="formValue.email" class="form-control" id="email" maxlength="22" (change)="ValidateEmail()"/>
              <div *ngIf="formErrors.email"
                   class="alert alert-danger">
               Email is invalid
              </div>
            </label>
          </div>
    </div>
</div>
